@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap');


body {
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

  /* Navbar styling  */

#mainMenu .nav-link {
  color: #17abc2;
}
#mainMenu .nav-link:hover {
  background: #17abc2;
  border-radius: 5px;
  color: #272727;
}
#mainMenu .nav-link.active {
  background: #17abc2;
  border-radius: 5px;
  color: #272727;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #272727;
}

/* Contact Us background image */
#contact {
  background: url(/assets/img/map.jpg);
}

/* Media Queries */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  #slider {
    padding-top: 60px;
  }
  #about {
    padding: 30px;
  }
  #about .col-md-6.align-self-center{
    padding-bottom: 30px;
  }
}


/* Footer styling */
#footer ul a {
  color: #272727;
  text-decoration: none;
}

#footer ul a:hover {
  color: #17abc2;
}